.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
}



@media (min-width: @tablet-width) {
  .advantages__wrapper {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1200px;
  }
}

.news__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 960px;

  }
}

.advantages__list--text {
  background-color: @basic-white;
  color: @basic-color-text;

  text-align: center;
  text-transform: uppercase;
  line-height: 1;

  //font-size: 24px;
}

.advantages__list {

}
