.page-header,
.user__header,
.main-nav {
  position: relative;
  width: 100%;
  background-color: @basic-border;
  background-image: url("../img/dfoto/fon-desktop.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  order: 0;
}

.news__wrapper {
  position: relative;
  background-image: url("../img/icon/24hours.png");
  background-repeat: no-repeat;
  background-position: left;
  order: 0;
}

.user__header__foto,
.catalog-filter {
  background-color: @basic-bgc-photo;
}
