.page {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", TimesNewRoman, sans-serif;
  line-height: 24px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: @basic-white;
  color: @basic-color-text;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}


