.reviews {
  padding: 0 20px;
  background-color: @basic-white;
  color: @basic-color-text;
  line-height: 30px;
  text-align: center;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 660px;
  margin: 0 auto;
}

  @media (max-width: @tablet-width) {
   .reviews__wrapper {
    flex-direction: column-reverse;
   }
  }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__toggles {
  display: flex;
  flex-direction: row;
}

  @media (min-width: @desktop-width) {
    .reviews__toggles, .quotes {
      display: none;
    }
  }



  @media (max-width: @tablet-width) {
  .reviews__prev, .reviews__next, .reviews__text-info, {
    display: none;
    }
  }
