.stats__table {
// background: @basic-bgc-photo;

  display: block;
.table__tariff__cell, .table__tariff__cell1, .table__tariff__cell3,
.table__units1, .table__units3 {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
}

.table__wrapper {
  @media (min-width: @tablet-width) {
    padding: 0 64px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    max-width: 1200px;
  }
}


.table__tariff__cell {
  background: @basic-color-text;
  color: @basic-white;
  margin: 0;
}

.table__tariff__units {
  margin: 0;
}

.table__units {
  margin: 0;
}

